{% extends "base.html" %}

<!--Title-->
{% block title %}Login{% endblock title %}

<!--Navbar content-->
{% block navbar-content %}
<i class="bi bi-robot"></i>&nbsp;&nbsp; Login
{% endblock %}

<!--Button on navbar-->
{% block nav-btn %}
<a href="{% url 'frontend' %}" class="btn btn-success btn-sm" id="btn-nav" style="background-color: #3CCF4E;">Go
    back</a>
{% endblock %}

<!--Page conternt-->
{% block content %}

<main class="container mt-5">
    <div class="card p-3 border-dark">
        <!-- <a class="btn btn-outline-dark mt-3 fs-2 fw-bold"><i class="bi bi-lock">&nbsp;&nbsp; Acceso Restringido</i></a>
        <span class="badge text-bg-warning"><i class="bi bi-lock">&nbsp;&nbsp; Acceso Restringido</i></span> -->
        <a class="btn btn-outline-dark mt-3 fs-2 fw-bold"><i class="bi bi-lock">&nbsp;&nbsp; Acceso Restringido</i></a>
        <form method="POST" autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="input-group mb-3 mt-5">
                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                <input type="text" class="form-control" placeholder="Usuario" name="username">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                <input type="password" class="form-control" placeholder="Contraseña" name="password">
            </div>

            <input type="submit" class="btn btn-success btn-block mt-3" value="Ingresar">

        </form>
    </div>
</main>

{% endblock %}